@import "modules/fonts";
@import "modules/core";
@import "modules/screens";

/**
* Header
*/

header {
  width: 100%;
  padding-block: 80px;

  background: black;
  background-image: linear-gradient(#00000000, #0000009e), var(--header-image);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet {
    height: 500px;
    padding-block: 0;
    padding-inline: 30px;
    background-position: top right;
  }

  @include desktop {
    background-image: var(--header-image);
    height: 600px;
  }

  color: white;
  display: grid;
  place-items: center;

  .content {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;

    @include laptop {
      grid-template-columns: repeat(3, 1fr);
    }

    @include desktop {
      grid-template-columns: repeat(2, 1fr);
    }

    .info {
      padding-inline: 20px;

      @include laptop {
        grid-column: span 2;
      }

      @include desktop {
        grid-column: span 1 !important;
      }

      h1 {
        font-size: 40px;
        margin-bottom: 10px;

        @include tablet {
          font-size: 50px;
        }
      }

      p {
        font-size: 14px;

        @include tablet {
          font-size: 16px;
        }
      }
    }
  }
}
