@import "modules/fonts";
@import "modules/core";
@import "modules/screens";

/**
* Header
*/

header {
  width: 100%;
  padding-block: 80px;

  background: black;
  background-image: linear-gradient(#00000000, #0000009e), var(--header-image);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;

  @include sm {
    height: 500px;
    padding-block: 0;
    // padding-inline: 30px;
    background-position: top right;
  }

  @include lg {
    height: 600px;
  }

  color: white;
  display: grid;
  place-items: center;

  .content {
    width: 100%;
    max-width: 1800px;
    margin-inline: auto;
    text-align: center;

    .info {
      h1 {
        font-size: 40px;
        margin-bottom: 10px;

        span {
          background-image: linear-gradient(to right, #ff9100, #ff1515);
          background-clip: text;
          color: transparent;
        }

        @include sm {
          font-size: 50px;
        }

        @include md {
          font-size: 60px;
        }
      }

      p {
        font-size: 14px;

        @include sm {
          font-size: 18px;
        }
      }
    }
  }
}

/**
* Player cards
*/

main section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  padding: 20px;
  padding-block: 100px;

  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }

  .players-wrapper {
    @include lg {
      grid-column: span 3;
    }
  }

  .players {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @include sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @include xl {
      grid-template-columns: repeat(3, 1fr);
    }

    &__player {
      border: 2px solid rgb(52, 52, 52);
      img {
        width: 100%;
        aspect-ratio: 3/2;
      }

      &-info {
        padding: 30px 0px;
        text-align: center;

        p {
          margin-top: 5px;
          margin-bottom: 20px;
          font-size: 13px;
          color: #aaaaaa;
        }

        button {
          padding: 10px 20px;
          font-size: 18px;
          border: none;
          background: #0063c6;
          color: white;
          cursor: pointer;

          &.selected {
            background: #5daeff;
            pointer-events: none;
          }
        }
      }
      background: black;
      color: white;
    }
  }

  .sidebar {
    width: 100%;
    color: rgb(228, 228, 228);

    .cards-wrapper {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr;

      @include md {
        grid-template-columns: repeat(2, 1fr);
      }

      @include lg {
        grid-template-columns: 1fr;
      }
    }
    .card {
      background-color: black;
      padding: 30px;

      @include md {
        padding: 40px;
      }
    }

    .card {
      font-size: 20px;
      h2 {
        text-align: center;
        margin-bottom: 20px;
        color: white;
      }
    }

    .selected {
      ol {
        padding-left: 20px;

        li {
          font-size: 20px;
          line-height: 40px;
        }
      }
    }

    .budget {
      color: rgb(194, 194, 194);

      button {
        padding: 20px 10px;
        display: block;
        width: 100%;
        margin-block: 20px;
        font-size: 20px;
        background-color: rgb(0, 72, 207);
        border: none;
        color: white;
        cursor: pointer;
      }

      .two-col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        align-items: center;

        input {
          padding: 15px 20px;
          appearance: none;
        }
      }

      .expanse-fields {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .expanse p,
      .total p {
        display: flex;
        justify-content: space-between;

        span {
          color: white;
        }
      }

      .total p span {
        color: rgb(255, 81, 110);
      }
    }
  }
}
