@import "modules/fonts";
@import "modules/core";
@import "modules/screens";

/**
* Header
*/

header {
  width: 100%;
  padding-block: 80px;

  background: black;
  background-image: linear-gradient(#00000000, #0000009e), var(--header-image);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;

  @include sm {
    height: 500px;
    padding-block: 0;
    padding-inline: 30px;
    background-position: top right;
  }

  @include lg {
    height: 600px;
  }

  color: white;
  display: grid;
  place-items: center;

  .content {
    width: 100%;
    max-width: 1800px;
    margin-inline: auto;
    text-align: center;

    .info {
      padding-inline: 20px;

      h1 {
        font-size: 40px;
        margin-bottom: 10px;

        span {
          background-image: linear-gradient(to right, #ff9100, #ff1515);
          background-clip: text;
          color: transparent;
        }

        @include sm {
          font-size: 50px;
        }

        @include md {
          font-size: 60px;
        }
      }

      p {
        font-size: 14px;

        @include sm {
          font-size: 18px;
        }
      }
    }
  }
}

/**
* Player cards
*/

main section {
  max-width: 1600px;
  margin-inline: auto;
  padding-inline: 20px;
  padding-block: 100px;

  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @include md {
    grid-template-columns: 60% 40%;
  }

  .players {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    @include sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @include xl {
      grid-template-columns: repeat(3, 1fr);
    }

    &__player {
      img {
        width: 100%;
        aspect-ratio: 3/2;
      }

      &-info {
        padding: 30px 0px;
        text-align: center;

        p {
          margin-top: 5px;
          margin-bottom: 20px;
          font-size: 13px;
          color: #aaaaaa;
        }

        button {
          padding: 10px 20px;
          font-size: 18px;
          border: none;
          background: #1b8cfd;
          color: white;
          cursor: pointer;
        }
      }
      background: black;
      color: white;
    }
  }
}
